body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-navegacao{
    background-color: rgb(12, 12, 12);      
    text-align: center;
    padding-top: 1%;
}

.menu-navegacao ul{
    list-style: none;

    margin: 0;
}

.menu-navegacao li{
    display: inline-block;
    
    margin: 10px;
}

.menu-navegacao a {
    color: #ffffff; /* Cor do texto do link */
    text-decoration: none; /* Remove o sublinhado do link */
    padding: 10px 10px; /* Preenchimento interno do link (área clicável) */
    display: block; /* Faz o padding funcionar em toda a área do link */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transição suave */
}

.menu-navegacao a:hover {
    background-color: #555; /* Fundo ao passar o mouse */
    color: #f0f0f0;
}