body{
    background-color: rgb(92, 10, 10);
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/242865d0-bbd7-4910-9993-8715bc90223d/dgc769q-f2792028-1bd5-4327-ade3-7643d05039b1.png);
    background-blend-mode:multiply;
    background-position: 50%;
    display: flex;
    
    font-family: monospace;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.passe-corrida{
    min-width: 75px;
    max-height: 400px;
    max-width: 750px;
    padding: 40;

    background-color: rgb(20, 14, 14);
    justify-items: center;
    border: 2px solid rgb(189, 28, 28);
    border-radius: 10px;
    box-shadow: 0px 0px 220px rgba(219, 49, 49, 0.5);

    color: rgb(255, 255, 255);

}

.passe-nome{
    font-variant: small-caps;
}

.passe-ocupacao{
    font-style:oblique;
}