body{
    background-color:#5B23FF;
   
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-family: monospace
    
}
.card-login{
    background-color: #5B23FF;
    text-align: center;
    justify-items: center;
    padding: 50px;
    max-width: 50%;
    box-shadow: 0 0 210px #008BFF;
    border-radius: 50px;
    

}
.card-login h1{
    font-size:  3em;
    color: #D9E9F6;
}
.card-login p{
    color: #D9E9F6;
    font-size: 1.5em;
    margin-bottom: 25px;
}


.button-action{
    display: block; /*Quebra de linha, bloco sobre bloco*/
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border:  none;
    border-radius: 10px;
    font-size:1.3em;
    cursor:  pointer;
    transition: background-color 0.5s ease;
}
/*usando ID*/
#button-login{
    background-color: #E4FF30;
    color: #000000;
}

#button-login:hover{
    background-color: #e9ff5c;
    font-weight: bold;
}

.button-secound{
    background-color: #ffffff;
    transition: background-color 0.5s ease;
}
.button-secound:hover{
    background-color: #8bff56;
    font-weight: bold;
}
