body{
    background-color: rgb(27, 26, 26);
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpixnio.com%2Ffree-images%2F2017%2F03%2F11%2F2017-03-11-16-43-53.jpg&f=1&nofb=1&ipt=7f39446d4f21935326eaa8253a8ed58c3610fbb1119aa812647c9c3194eb34d9);
    background-attachment: fixed;
    background-blend-mode: multiply;

    color: rgb(255, 255, 255);
    margin: 100;
    padding-top: 25;
    padding-bottom: 100;
    text-align: center;
    font-family: Helvetica;
}
h1{
    font-size: 50;
    font-variant: small-caps;
    margin-bottom: 125;
}
.box-marcas{
    display: inline-block; /*Deixa o objetos lado a lado em blcoks*/
    background-color: rgb(19, 18, 18);
    padding: 35;
    max-width: 300px;
    min-width: 100px;
    height:400px;
    margin: 20;
    margin-bottom: 140;
    border: 4px solid rgb(85, 85, 85);
    border-radius: 10%;
    position: relative; 
    vertical-align: top ;
}

.box-marcas img{
    max-width: 100%;

}
.box-marcas h2{
    color: white;
}

.box-marcas a{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin: 0;


    color: white;
    font-variant: small-caps;
    
    text-decoration: none;
}
.box-marcas a:hover{
    color: rgb(155, 155, 155);
    text-decoration: underline;
}

.box-marcas:hover {
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 0 0 30px rgb(255, 255, 255); 
}
